<!DOCTYPE html>
<html lang="en">

<head>

  <%- include ('Partials/_header') -%>

</head>

<body>

  <!-- Navigation -->
  <%- include ('Partials/_navigation') -%>

  <!-- Page Header -->
  
  <header class="masthead" style="background-image: url('img/post-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1><%= addposts.title %></h1>
            <h2 class="subheading">Author</h2>
            <span class="meta">Posted by
              <a href="#">Start Bootstrap</a>
              <%= addposts.dateCreated %></span>
          </div>
        </div>
      </div>
    </div>
  </header>
  
  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <%= addposts.description %>
        </div>
      </div>
    </div>
  </article>
  <br><br><br>
  <a href="/addposts/edit/<%= addposts._id %>" type="submit" class="btn btn-primary" >Edit</a>
  <a href="/addposts/<%= addposts._id %>?_method=DELETE"  type="submit" class="btn btn-primary" onclick="return confirm('Emin misin?')" >Delete</a>

  <hr>

  <!-- Footer -->
  <%- include ('Partials/_footer') -%>

</body>

</html>
